services:
  api:
    build: .
    ports:
      - "5000:5000"
      - "5173:5173"      # if using vite dev server
      - "4983:4983"      # Drizzle Studio port
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: blogdb
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
