services:
  api:
    build: .
    ports:
      - "5000:5000"
      - "5173:5173"      # if using vite dev server
      - "4983:4983"      # Drizzle Studio port
    env_file:
      - .env
    environment:
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    volumes:
      - .:/app
      - /app/node_modules
